$blue1: #205C7C;
$rorange: #FE4A49;
$yellow: #FED766;
$sienna: #2C0703;
$b-color: #9AC6C5;
$grey: #7c7c7c;
$light-grey: #e4e4e4;
$shadow: rgba(0,0,0,0.2);

$border-radius-num: 10px;

:root {
	background-color: $b-color;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
	background: none;
}

#nav-container {
	margin-left: 20px;
	margin-right: 20px;
}

#profile-photo {
	width: 40px;
	height: 40px;
}
#profile-photo-nav {
	width: 80px;
}

#OU-logo {
	display: flex;
	width: 40px;
	height: 40px;
	margin-right: 40px;
}

#OU-logo-div{
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: stretch;
}

#navbar-right-adjust{
	display: flex;
	flex-wrap: nowrap;
	margin-left: auto;
}
#navbar-toodle-logo{
	width: 40px;
	height: 40px;
}

.login-container {
	display: flex;
	justify-content: center;
	background-color: $b-color;
}


.login-box {
	background-color: white;
	width: 350px;
	height: 300px;
	text-align: center;
	padding: 20px;
	margin-top: 10%;
	border-radius: $border-radius-num;
	font-size: large;
	box-shadow: 0px 8px 16px 0px $shadow;
}


.login-forum {
	padding: 10px;
}

.up-format {
	height: 40px;
	width: 250px;
	text-align: center;
	border-radius: $border-radius-num;
	box-shadow: none;
	border-style: solid;
}

#login-button {
	width: 100px;
	height: 50px;
	font-size: large;
	background-color: $blue1;
	color: white;
	border-radius: $border-radius-num;
	border: none;
	margin-top: 15px;
}

//class page css start
#class-top-div {
	background-color: $b-color;
}
#class-page-contents {
	display: flex;
}

#class-title-top-div {
	padding-top: 1%;
}

#class-title-div {
	display: flex;
	background-color: white;
	padding: 1%;
	text-align: center;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: $border-radius-num;
	justify-content: space-between;
	align-items: center ;
}

#class-title-name {
	margin-left: 2%;
}

#class-title-div #class-location-link {
	display: flex;
	justify-content: right;
	margin-right: 1%;
}

#class-page-nav-container {
	display: flex;
	flex-basis: 10%;
	background-color: white;
	margin-top: 1%;
	margin-left: 1%;
	border-radius: $border-radius-num;
	justify-content:center ;
}

#class-item-div {
	display: flex;
	width: 75%;
	flex-flow: column;
}

.class-sidebar-item{
	display: flex;
	margin-top: 2%;
	height: 8%;
	text-align:left;
	box-shadow: $shadow;
	align-items: center;
}

.class-sidebar-item a{
 	text-decoration: none;
	color: black;
	margin-top: 30%;
}

#class-center-box{
	flex-basis: 75%;
	background-color: white;
	margin-top: 1%;
	margin-left: 1%;
	border-radius: $border-radius-num;
}



#class-nav-right-container {
	background-color: white;
	display: flex;
	margin-top: 1%;
	flex-basis: 10%;
	border-radius: $border-radius-num;
	margin-left: 1%;
	margin-right: 1%;
}

//start class components css (middle of page container)
#class-center-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#class-home-main-div {
	display: flex;
	margin-top: 3%;
	justify-content: center;
	flex-direction: column;
}

#class-home-title {

	display: flex;
	justify-content: center;

}

#class-home-welcome {
	padding-left: 5em;
	padding-right: 5em;
	padding-top: 1em;
}

#class-home-importantlinks {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1em;

}

.class-home-importantlinks-links {
	display: flex;
	background-color: purple;
}



//dashboard css start
#dash-main {
	display: flex;
	flex-direction: column;
	background-color: $b-color;
}

#dash-course-name{
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: white;
	margin-top: 1%;
}



.dash-class-container {
	border: solid .5px;
	border-radius: $border-radius-num;
	box-shadow: 0px 8px 16px 0px $shadow;
	margin: 1%;
	padding: 1%;
	background-color: white;
	text-align: center;
}

.dash-class-list {
	justify-content: center;
	display: flex;
    flex-wrap: wrap;
}
.class-container h3 {
	justify-content: center;
}


#dash-container {
	border: solid;
	display: flex;
	flex-direction: column;
}

#dash-upcoming-assignments-name {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 1%;
}

#dash-upcoming-assignments-list {
	justify-content: center;
	display: flex;

}

.upcoming-assignment {
	border: solid 0.5px;
	text-align: center;
	border-radius: $border-radius-num;
	box-shadow: 0px 8px 16px 0px $shadow;
	margin: 1%;
	padding: 0.5%;
}

#dash-footer {
	display: flex;
	flex-direction: column;
}


//start assignment component scss

#asign-main-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.assign-header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.assign-time-remain {
	margin-top: 5px;
	color: $blue1

}

.assign-table-div {
	//padding: 5px;
	//border: 1px solid;
}

.assign-due-dates tr td{
}


.assign-due-table-c1 {
	display: flex;
	justify-content: center;
	padding-right: 10px;
	font-weight: bold;
}

.assign-assign-body-div {
	background-color: $light-grey ;
	width: 85%;
	margin: 15px;
	//border: .01px solid;
	border-radius: 5px;
	//box-shadow: 0px 0px 16px 0px $shadow;
}

.assign-assign-body {
	padding: 20px;
	display: flex;
	justify-content: center;
	

}
.assign-assign-attachments {
	display: flex;
	justify-content: center;
	align-items: center;
}
.assign-assign-attachments-list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
}

.assign-assign-submit-button {
	display: flex;
	width: 400px;
	height: 50px;
	justify-content: center;
	align-items: center;
	background-color: $blue1;
	color: white;
	border-radius: 5px;
	border: transparent;
	box-shadow: 0px 0px 16px 1px $shadow;
	font-size: 24px;
}

.assign-status-main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.assign-status-header {
	margin-top: 20px;
}


.assign-table-tab {
	
	font-size: 18px;
	

}
.assign-status-table {
	padding: 10px;

}

.assign-status-table-col1 {
	display: flex;
	justify-content: center;
	padding-right: 10px;
	font-weight: bold;

}