$blue1: #205C7C;
$rorange: #FE4A49;
$yellow: #FED766;
$sienna: #2C0703;
$b-color: #9AC6C5;
$grey: #7c7c7c;
$light-grey: #e4e4e4;
$shadow: rgba(0,0,0,0.2);
$border-radius-num: 5px;

$desktop-width: 900px;

// Only applies styles when the viewport is large.
@mixin desktop {
	@media screen and (min-width: $desktop-width) {
		@content;
	}
}

// Only applies styles when the viewport is not large.
@mixin mobile {
	@media not screen and (min-width: $desktop-width) {
		@content;
	}
}

:root {
	background-color: $b-color;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
	background: none;
}

#nav-container {
	margin-left: 20px;
	margin-right: 20px;
	max-width: none !important;
}

#profile-photo {
	width: 40px;
	height: 40px;
}
#profile-photo-nav {
	width: 80px;
}

#OU-logo {
	display: flex;
	width: 40px;
	height: 40px;
	margin-right: 40px;
}

#OU-logo-div{
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: stretch;
}

#navbar-right-adjust{
	display: flex;
	flex-wrap: nowrap;
	margin-left: auto;
}
#navbar-toodle-logo{
	width: 40px;
	height: 40px;
}

.login-container {
	display: flex;
	justify-content: center;
	background-color: $b-color;
}


.login-box {
	background-color: white;
	width: 350px;
	height: 300px;
	text-align: center;
	padding: 20px;
	margin-top: 10%;
	border-radius: $border-radius-num;
	font-size: large;
	box-shadow: 0px 8px 16px 0px $shadow;
}


.login-forum {
	padding: 10px;
}

.up-format {
	height: 40px;
	width: 250px;
	text-align: center;
	border-radius: $border-radius-num;
	box-shadow: none;
	border-style: solid;
}

#login-button {
	width: 100px;
	height: 50px;
	font-size: large;
	background-color: $blue1;
	color: white;
	border-radius: $border-radius-num;
	border: none;
	margin-top: 15px;
}

//class page css start
#course-top-div {
	background-color: $b-color;
}
#course-page-contents {
	display: flex;
	margin: 1%;

	& > :not(:first-child) {
		@include mobile {
			margin-top: 1%;
		}

		@include desktop {
			margin-left: 1%;
		}
	}

	@include mobile {
		flex-direction: column;
	}
}

#course-title-top-div {
	padding-top: 1%;
}

#course-title-div {
	display: flex;
	background-color: white;
	padding: 1%;
	text-align: center;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: $border-radius-num;
	align-items: center;
}

#course-title-name {
	margin-left: 2%;
	flex-grow: 1;
}

#course-location-link {
	display: flex;
	justify-content: right;
	margin-right: 1%;
}

#course-page-nav-container {
	display: flex;
	background-color: white;
	border-radius: $border-radius-num;
	justify-content: flex-start;
	padding: 0.5em;

	@include desktop {
		flex-direction: column;
	}
}

.course-sidebar-item{
	display: flex;
	padding: 0.5em 0.5em;
	text-align: left;
	align-items: center;

	@include mobile {
		&:not(:first-child) {
			margin-left: 0;
		}
	}
}

.course-sidebar-item a{
 	text-decoration: none;
	color: black;
}

#course-center-box{
	background-color: white;
	border-radius: $border-radius-num;
	flex-grow: 1;
}



#course-nav-right-container {
	background-color: white;
	display: flex;
	margin: 1%;
	border-radius: $border-radius-num;
}

//start class components css (middle of page container)
#course-center-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
}

#course-home-main-div {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#course-home-title {

	display: flex;
	justify-content: center;

}

#course-home-welcome {
	padding: 1em;
}

//dashboard css start
#dash-main {
	display: flex;
	flex-direction: column;
	background-color: $b-color;
}

#dash-course-name{
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: white;
	margin-top: 1%;
}



.dash-course-container {
	border: solid .5px;
	border-radius: $border-radius-num;
	box-shadow: 0px 8px 16px 0px $shadow;
	margin: 1%;
	padding: 1%;
	background-color: white;
	text-align: center;
}

.dash-course-list {
	justify-content: center;
	display: flex;
    flex-wrap: wrap;
}
.course-container h3 {
	justify-content: center;
}


#dash-container {
	border: solid;
	display: flex;
	flex-direction: column;
}

#dash-upcoming-assignments-name {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 1%;
}

#dash-upcoming-assignments-list {
	justify-content: center;
	display: flex;

}

.upcoming-assignment {
	border: solid 0.5px;
	text-align: center;
	border-radius: $border-radius-num;
	box-shadow: 0px 8px 16px 0px $shadow;
	margin: 1%;
	padding: 0.5%;
}

#dash-footer {
	display: flex;
	flex-direction: column;
}


//start assignment component scss

#assign-main-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.assign-header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.assign-time-remain {
	margin-top: 5px;
	color: $blue1

}

.assign-table-div {
	//padding: 5px;
	//border: 1px solid;
}

.assign-due-dates tr td{
}


.assign-due-table-c1 {
	display: flex;
	justify-content: center;
	padding-right: 10px;
	font-weight: bold;
}

.assign-assign-body-div {
	background-color: $light-grey ;
	width: 85%;
	margin: 15px;
	//border: .01px solid;
	border-radius: 5px;
	//box-shadow: 0px 0px 16px 0px $shadow;
}

.assign-assign-body {
	padding: 20px;
	display: flex;
	justify-content: center;
	white-space: pre-wrap;
}
.assign-assign-attachments {
	display: flex;
	justify-content: center;
	align-items: center;
}
.assign-assign-attachments-list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}

.assign-assign-submit-button {
	display: flex;
	width: 400px;
	height: 50px;
	justify-content: center;
	align-items: center;
	background-color: $blue1;
	color: white;
	border-radius: 5px;
	border: transparent;
	box-shadow: 0px 0px 16px 1px $shadow;

	&.big {
		font-size: 1.5em;
	}
}

.assign-status-main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.assign-status-header {
	margin-top: 20px;
}

.assign-table-tab {
	font-size: 18px;
}

.assign-status-table {
	padding: 10px;

}

.assign-status-table-col1 {
	display: flex;
	justify-content: center;
	padding-right: 10px;
	font-weight: bold;
}

//start class announcements css
#course-ann-main-div {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	padding: 10px;
}

.course-ann-header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.course-ann-container {
	display: flex;
	border-bottom: solid .5px $blue1;
	box-shadow: 0px 0px 5px 0px $shadow;
	padding: 10px;
}

.course-ann-title-auth-box {
	border-right: solid 1px;
}

.course-ann-title-prev-box {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.course-ann-box-title {
	display: flex;
	margin-right: 10px;
	width: 225px;
	justify-content: baseline;
	align-items: center;
}

.course-ann-box-author {
	display: flex;
	color: $blue1
}

.course-ann-box-prev {
	margin-left: 20px;
	padding: 5px;
}

//start class assignments css
#course-assign-main-div{
	width: 100%;
}

.course-assign-header{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.course-assign-container {
	display: flex;
	flex-direction: row;
	//justify-content: center;
	align-items: center;
	//padding: 10px;
	border-bottom: solid .5px $blue1;
	box-shadow: 0px 0px 5px 0px $shadow;
	padding: 10px;
	width: 100%;

	&.submitted {
		opacity: 0.5;
	}
}

.course-assign-container-name{
	margin: 10px;
	flex-grow: 1;
}

.course-assign-container-name-link {
	text-decoration: none;
	color: $blue1
}

.course-assign-container-description {
	flex-grow: 1;
}

.course-assign-container-due-static {
	color: $blue1;
	padding: 10px;
}

.course-assign-container-due-stack {
	text-align: center;
}

.course-assign-container-due {
}

.course-assign-container-remaining {
}


//start class people css

.course-people-main-div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#course-people-header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.course-people-container {
	display: flex;
	flex-direction: row;
	border: solid;
	width: 1000px;
}

.course-people-container-namerole-div{
	display: flex;
	flex-direction: column;
	margin-left: 25px;
	margin-top: 10px;
}

.course-people-container-name {
	display: flex;
}

.course-people-container-email{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 25px;
	color: $blue1;
	text-decoration: none;
}

.course-people-container-email a {
	text-decoration: none;
}

.course-people-container-role {
	display: flex;
}

.course-people-container-lastactive {
	display: flex;
}

.calendar {
	display: flex;
	justify-content: center;
	padding: 1em;
}

//start professor edit assingment page

.prof-assign-main-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.prof-assign-label {
    margin-right: 5px;
    font-weight: bold;

}

.prof-assign-title-chng-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.prof-assign-title-chng-lable {
    margin: 10px;

}

#prof-assign-title-chng {

}

.prof-assign-dates-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.prof-assign-opendate-chng-div {
    display: flex;
    margin: 10px;
}

.prof-assign-opendate-chng-label {}

#prof-assign-opendate-chng {
    margin-right: 5px;
}

#prof-assign-opentime-chng {

}

.prof-assign-duedate-chng-div {
    display: flex;
    margin: 10px;
}

.prof-assign-duedate-chng-label {}

#prof-assign-duedate-chng {
    margin-right: 5px;
}

#prof-assign-duetime-chng {}


.prof-assign-desc-chng-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.prof-assign-desc-chng-lable {
    margin: 10px;
}

#prof-assign-desc-chng {
    width: 600px;
    height: 400px;
    background-color: lightgray;
    border: .5px solid black;
}

.prof-assign-edit-button {
	display: flex;
	width: 400px;
	height: 50px;
	justify-content: center;
	align-items: center;

	background-color: $blue1;
	color: white;

	border-color: transparent;
	border-radius: 5px;

	font-size: x-large;
	font-weight: bolder;
	margin: 15px;
}

.prof-assign-edit-div {
	display: flex;
}

.prof-assign-sc-button-div {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.prof-assign-save-button {
	width: 200px;
	height: 50px;
	color: white;
	background-color: $blue1;
	border-radius: $border-radius-num;
	margin-left: 10px;
}

.prof-assign-cancel-button {
	width: 200px;
	height: 50px;
	background-color: #FE4A49;
	color: white;
	border-radius: $border-radius-num;
}