$blue1: #205C7C;
$rorange: #FE4A49;
$yellow: #FED766;
$sienna: #2C0703;
$b-color: #9AC6C5;
$grey: #7c7c7c;
$shadow: rgba(0,0,0,0.2);

$border-radius-num: 10px;

:root {
	background-color: $b-color;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
	background: none;
}

#nav-container {
	margin-left: 20px;
	margin-right: 20px;
}

#profile-photo {
	width: 40px;
	height: 40px;
}
#profile-photo-nav {
	width: 80px;
}

#OU-logo {
	display: flex;
	width: 40px;
	height: 40px;
	margin-right: 40px;
}

#OU-logo-div{
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: stretch;
}

#navbar-right-adjust{
	display: flex;
	flex-wrap: nowrap;
	margin-left: auto;
}
#navbar-toodle-logo{
	width: 40px;
	height: 40px;
}

.login-container {
	display: flex;
	justify-content: center;
	background-color: $b-color;
}


.login-box {
	background-color: white;
	width: 350px;
	height: 300px;
	text-align: center;
	padding: 20px;
	margin-top: 10%;
	border-radius: $border-radius-num;
	font-size: large;
	box-shadow: 0px 8px 16px 0px $shadow;
}


.login-forum {
	padding: 10px;
}

.up-format {
	height: 40px;
	width: 250px;
	text-align: center;
	border-radius: $border-radius-num;
	box-shadow: none;
	border-style: solid;
}

#login-button {
	width: 100px;
	height: 50px;
	font-size: large;
	background-color: $blue1;
	color: white;
	border-radius: $border-radius-num;
	border: none;
	margin-top: 15px;
}

#class-page-contents {
	display: flex;
}

#class-title-div {
	display: flex;
	background-color: white;
	margin-top: 1%;
	padding: 1%;
	text-align: center;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: $border-radius-num;
	justify-content: space-between;
	align-items: center ;
}

#class-title-name {
	margin-left: 2%;
}

#class-title-div #class-location-link {
	display: flex;
	justify-content: right;
	margin-right: 1%;
}

#class-page-nav-container {
	display: flex;
	flex-basis: 10%;
	background-color: white;
	margin-top: 1%;
	margin-left: 1%;
	border-radius: $border-radius-num;
	justify-content:center ;
}

#class-item-div {
	display: flex;
	width: 75%;
	flex-flow: column;
}

.class-sidebar-item{
	display: flex;
	margin-top: 2%;
	height: 8%;
	text-align:left;
	box-shadow: $shadow;
	align-items: center;
}

.class-sidebar-item a{
 	text-decoration: none;
	color: black;
	margin-top: 30%;
}

#class-center-box{
	flex-basis: 75%;
	background-color: white;
	margin-top: 1%;
	margin-left: 1%;
	border-radius: $border-radius-num;
}

#class-center-container {
	display: flex;
}

#class-nav-right-container {
	background-color: white;
	display: flex;
	margin-top: 1%;
	flex-basis: 10%;
	border-radius: $border-radius-num;
	margin-left: 1%;
	margin-right: 1%;
}